<footer id="footer" class="footer-type1">
<div class="footer-trust"><div class="container">
<p class="trust-line">Affiliated to the University of Calicut &middot; Recognised under UGC 2(f)
&middot; Government of Kerala &amp; AICTE &middot; Established 2010</p>
<ul class="trust-marks"><li><img src="/assets/uploads/2025/05/University-Logo.jpg" alt="University of Calicut"><span>University of Calicut</span></li><li><img src="/assets/uploads/2024/01/UGC-Logo-e1748242432780.jpg" alt="UGC"><span>UGC</span></li><li><img src="/assets/uploads/2024/01/AICTE-Logo-e1748242290739.jpg" alt="AICTE"><span>AICTE</span></li><li><img src="/assets/uploads/2025/10/Naac-Symbol.jpg" alt="NAAC"><span>NAAC</span></li><li><img src="/assets/uploads/2024/01/ISO-Logo-e1748242407313.jpg" alt="ISO certified"><span>ISO certified</span></li></ul>
</div></div>
<div id="footer-widget"><div class="container"><div class="row">
<div class="col-lg-4 col-md-6 col-footer">
<div class="logo-footer"><a href="/"><img src="/assets/uploads/2024/01/AJAS-Website-Heading-Last.svg" alt="Al Jamia Arts &amp; Science College" width="320" height="58" loading="lazy"></a></div>
<ul class="footer-address">
<li><i class="fa fa-map-marker" aria-hidden="true"></i> Poopalam, Valambur (P.O), Perinthalmanna, Malappuram Dt, Kerala — 679325</li>
<li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:mail@ajascollege.ac.in">mail@ajascollege.ac.in</a></li>
<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+917994188918">+91 7994 188918</a></li>
</ul>
</div>
<div class="col-lg-2 col-md-6 col-company">
<h3 class="widget widget-title">College</h3>
<ul class="widget-nav-menu">
<li><a href="/overview/">Overview</a></li>
<li><a href="/vision-mission/">Vision &amp; Mission</a></li>
<li><a href="/principal/">Principal</a></li>
<li><a href="/recognitions/">Recognitions</a></li>
<li><a href="/contact/">Contact Us</a></li>
</ul>
</div>
<div class="col-lg-2 col-md-6 col-link">
<h3 class="widget widget-title">Academics</h3>
<ul class="widget-nav-menu">
<li><a href="/departments/">Departments</a></li>
<li><a href="/programmes/">Programmes</a></li>
<li><a href="/faculties/">Faculties</a></li>
<li><a href="/examinations/">Examinations</a></li>
<li><a href="/library/">Library</a></li>
</ul>
</div>
<div class="col-lg-2 col-md-6 col-course">
<h3 class="widget widget-title">Students</h3>
<ul class="widget-nav-menu">
<li><a href="/admission/">Admission</a></li>
<li><a href="/scholorship/">Scholarships</a></li>
<li><a href="/placement-cell/">Placement Cell</a></li>
<li><a href="/alumnae/">Alumni</a></li>
<li><a href="/register-a-complaint/">Grievance</a></li>
</ul>
</div>
<div class="col-lg-2 col-md-6 col-media">
<h3 class="widget widget-title">Follow Us</h3>
<ul class="widget-social-media">
<li><a href="https://www.facebook.com/ajascollege" target="_blank" rel="noopener" aria-label="Al Jamia on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
<li><a href="https://www.instagram.com/ajascollege" target="_blank" rel="noopener" aria-label="Al Jamia on Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
<li><a href="https://www.linkedin.com/school/ajascollege" target="_blank" rel="noopener" aria-label="Al Jamia on LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
<li><a href="https://www.youtube.com/@ajascollege" target="_blank" rel="noopener" aria-label="Al Jamia on YouTube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
</ul>
</div>
</div></div></div>
<div class="footer-map">
<div class="container">
<div class="footer-map-inner">
<iframe src="https://maps.google.com/maps?q=Al%20Jamia%20Arts%20and%20Science%20College&t=m&z=14&output=embed&iwloc=near" width="100%" height="240" style="border:0; display:block; border-radius:10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="Al Jamia Arts and Science College Location Map"></iframe>
</div>
</div>
</div>
<div id="bottom" class="bottom-type1 clearfix has-spacer">
<div id="bottom-bar-inner" class="container"><div class="bottom-bar-inner-wrap">
<div class="bottom-bar-content"><div id="copyright">
&copy; <span class="text-year">2026</span> <span class="text-name">Al Jamia Arts &amp; Science College.</span>
<span class="license"><a href="/" aria-label="Al Jamia Arts and Science College home">All Rights Reserved</a></span>
</div></div>
<div class="bottom-bar-menu"><ul class="bottom-nav">
<li class="menu-item"><a href="/overview/">About</a></li>
<li class="menu-item"><a href="/iqac/">IQAC</a></li>
<li class="menu-item"><a href="/policy-documents/">Policies</a></li>
<li class="menu-item"><a href="/career/">Careers</a></li>
<li class="menu-item"><a href="/contact/">Contact</a></li>
</ul></div>
</div></div>
</div>
<a id="scroll-top" class="show"></a>
</footer>